<form ng-submit="add(model)">
  <input type="text" ng-model="model.title">
  <button class="btn" type="submit">Add</button>
</form>

<ul>
  <li ng-repeat="todo in todos">
    <div ng-if="!todo.editMode">
      {{todo.doc.title}}<br>
    </div>
    <div ng-if="todo.editMode">
      <form ng-submit="edit(todo)">
        <input type="text" ng-model="todo.doc.title">
        <button class="btn" type="submit">edit</button>
      </form>
    </div>
    {{todo.doc._id}}<br>
    {{todo.doc.createdAt}}<br>
    <button class="btn" ng-click="delete(todo.doc, $index)">x</button>
    <button class="btn" ng-click="todo.editMode = true" ng-if="!todo.editMode">edit</button>
  </li>
</ul>

<hr>

<button class="btn" ng-click="showLogs = !showLogs">toggle Logs</button>
<br><br>
<div ng-show="showLogs">
  <ul>
    <li ng-repeat="log in logs | orderBy:'seq':true">
      <pre>{{log | json}}</pre>
    </li>
  </ul>
</div>
